<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-03-22T14:56:16Z</date>
	<key>WorkspacePath</key>
	<string>/Users/tuonisitake/Documents/Claude Code/酒店前台app/HotelFrontDesk.xcodeproj</string>
</dict>
</plist>
